<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${people[0].model}">Lorem.</h1>
<h1 th:text="${people[0].age}">Consectetur.</h1>
<h1 th:text="${people[0].married}">Rerum.</h1>
<h1 th:text="${people[1].model}">Vero!</h1>
<h1 th:text="${people[1].age}">Dolor.</h1>
<h1 th:text="${people[1].married}">Laborum.</h1>
<h1 th:text="${people[2].model}">Accusantium?</h1>
<h1 th:text="${people[2].age}">Molestiae!</h1>
<h1 th:text="${people[2].married}">Asperiores?</h1>
</body>
</html>