<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${attr}">Lorem.</h1>
<h1 th:text="${attr.getHome}">Repudiandae.</h1>
<h1 th:text="${attr.getScore}">Excepturi!</h1>
<h1 th:text="${attr.getHeight}">Beatae.</h1>
<h1 th:text="${attr.getNickName}">Atque.</h1>
<h1 th:text="${attr.home}">A.</h1>
<h1 th:text="${attr.score}">Exercitationem.</h1>
<h1 th:text="${attr.height}">Dolore!</h1>
<h1 th:text="${attr.NickName}">Lorem.</h1>
</body>
</html>