<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 연습 : 이 html을 보고 dto와 request handler method 만들기-->
<h1 th:text="${val.weight}">Lorem.</h1>
<h1 th:text="${val.info}">Ex.</h1>
<h1 th:text="${val.studentNumber}">Soluta?</h1>
<h1 th:text="${val.married}">Earum.</h1>
<h1 th:text="${val['weight']}">Neque!</h1>
<h1 th:text="${val['info']}">Commodi!</h1>
<h1 th:text="${val['studentNumber']}">Architecto.</h1>
<h1 th:text="${val['Married]'}">Commodi.</h1>
<h1>Quasi.</h1>
<h1>Dolorum.</h1>
<h1>Autem!</h1>
<h1>Accusantium.</h1>
<h1>Nisi.</h1>
<h1>Quo.</h1>
<h1>Quo!</h1>

</body>
</html>