<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>상품명 조회</h3>
<form th:action="@{/p01/sub1}">
    <label>
        이름
        <input type="text" name="keyword" th:value="${param.keyword ?: ''}">
    </label>
    <button>검색</button>
</form>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>SUPPLIER</th>
        <th>CATEGORY</th>
        <th>UNIT</th>
        <th>PRICE</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="prdt : ${productList}">
        <td th:text="${prodcut.id}"></td>
        <td th:text="${prodcut.name}"></td>
        <td th:text="${prodcut.supplier}"></td>
        <td th:text="${prodcut.category}"></td>
        <td th:text="${prodcut.unit}"></td>
        <td th:text="${prodcut.price}"></td>
    </tr>
    </tbody>
</table>
<div>
    <span th:each="num : ${#numbers.sequence(1, lastPage)}">
        <a th:if="${keyword == null}"
           th:href="@{/p01/sub1(page=${num})}"
           th:text="${num}">
        </a>
        <a th:if="${keyword != null}"
           th:href="@{p01/sub1(page=${num},keyword=${param.keyword})}"
           th:text="${num}"></a>
    </span>
</div>
</body>
</html>
