<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--param 객체를 selction 활용해서 보여주기-->
<!--selection-->
<ul th:object="${item}">
    <li th:text="*{name}"></li>
    <li th:text="*{birthDate}"></li>
    <li th:text="*{price}"></li>
</ul>
<ul>
    <li th:text="${item.name}"></li>
    <li th:text="${item.birthDate}"></li>
    <li th:text="${item.price}"></li>
</ul>
<div th:object="${person}">
    <h3 th:text="*{number}"></h3>
    <h4>company</h4>
    <ul>
        <li th:each=" c : *{company}" th:text="${c}"></li>
    </ul>
    <h4>address</h4>
    <ul>
        <li th:each=" a : *{address}" th:text="${a}"></li>
    </ul>
</div>
</body>
</html>